* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

#currenttabs {
    display: flex;
    flex-flow: wrap;
    align-content: flex-start;
}

#favimg {
    width: 15px;
    height: 15px;
    padding: 1px;
    cursor: pointer;
}