<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>

<body style="width:300px">
    <div id="app">
        <div class="state">
            <div id="toolbar">
                <input id="listname" v-model="listname" placeholder="{{ listname }}">
                <button id="savebtn" title="You have opened {{ currenttabs.length }} tabs." @click="saveTabs">Save it!</button>
            </div>
            <div id="currenttabs">
                <img id="favimg" v-for="tab in currenttabs" title="{{ tab.title }}" v-bind:src="tab.favimg" @click="openTab(tab.url)">
            </div>
        </div>
        <div class="list">
            <div v-for="list in savedlist">
                <span>{{ list.listname }}</span>
                <button v-on:click="removeTabs($index)">X</button>
                <div class="favimg">
                    <template v-for="tab in list.tabs">
                        <img id="favimg" title="{{ tab.title }}" v-bind:src="tab.favimg" @click="openTab(tab.url)">
                    </template>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/static/libs/vue/vue.min.js"></script>
    <script type="text/javascript" src="/app/app.js"></script>
</body>

</html>